{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3  control-label" for="payment_twocheckout_api_ipn">{{ entry_ipn }}</label>
                        <div class="col-sm-9">
                            <input type="text" value="{{ payment_twocheckout_api_ipn }}"
                                   readonly id="payment_twocheckout_api_ipn" class="form-control"/>
                            <p class="text-warning"> {{ help_ipn }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label" for="payment_twocheckout_api_account">{{ entry_account }}</label>
                        <div class="col-sm-9">
                            <input type="text" name="payment_twocheckout_api_account" value="{{ payment_twocheckout_api_account }}"
                                   placeholder="{{ entry_account }}" id="payment_twocheckout_api_account" class="form-control"/>
                            {% if error_account %}
                                <div class="text-danger">{{ error_account }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3  control-label" for="payment_twocheckout_api_secret_key">
                            <span data-toggle="tooltip" title="{{ help_secret_key }}">{{ entry_secret_key }}</span>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="payment_twocheckout_api_secret_key" value="{{ payment_twocheckout_api_secret_key }}"
                                   placeholder="{{ entry_secret_key }}" id="payment_twocheckout_api_secret_key" class="form-control"/>
                            {% if error_secret_key %}
                                <div class="text-danger">{{ error_secret_key }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label" for="payment_twocheckout_api_test">{{ entry_test }}</label>
                        <div class="col-sm-9">
                            <select name="payment_twocheckout_api_test" id="payment_twocheckout_api_test" class="form-control">
                                <option value="yes" {{ payment_twocheckout_api_test == 'yes' ? 'selected':'' }}>{{ text_yes }}</option>
                                <option value="no" {{ payment_twocheckout_api_test == 'no' ? 'selected':'' }}>{{ text_no }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3  control-label" for="payment_twocheckout_api_total">
                            <span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="payment_twocheckout_api_total" value="{{ payment_twocheckout_api_total }}"
                                   placeholder="{{ entry_total }}" id="payment_twocheckout_api_total" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label" for="payment_twocheckout_api_order_status_id">{{ entry_order_status }}</label>
                        <div class="col-sm-9">
                            <select name="payment_twocheckout_api_order_status_id" id="payment_twocheckout_api_order_status_id" class="form-control">
                                {% for order_status in order_statuses %}
                                    <option value="{{ order_status.order_status_id }}"
                                            {{ order_status.order_status_id == payment_twocheckout_api_order_status_id ? 'selected':'' }}>
                                        {{ order_status.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label" for="payment_twocheckout_api_geo_zone_id">{{ entry_geo_zone }}</label>
                        <div class="col-sm-9">
                            <select name="payment_twocheckout_api_geo_zone_id" id="payment_twocheckout_api_geo_zone_id" class="form-control">
                                <option value="0">{{ text_all_zones }}</option>
                                {% for geo_zone in geo_zones %}
                                    <option value="{{ geo_zone.geo_zone_id }}"
                                            {{ geo_zone.geo_zone_id == payment_twocheckout_api_geo_zone_id?'selected':'' }}>
                                        {{ geo_zone.name }}
                                    </option>

                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label" for="payment_twocheckout_api_status">{{ entry_status }}</label>
                        <div class="col-sm-9">
                            <select name="payment_twocheckout_api_status" id="payment_twocheckout_api_status" class="form-control">
                                <option value="1" {{ payment_twocheckout_api_status?'selected':'' }}>{{ text_enabled }}</option>
                                <option value="0" {{ payment_twocheckout_api_status?'':'selected' }}>{{ text_disabled }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label" for="payment_twocheckout_api_use_default_style">{{ entry_use_default }}</label>
                        <div class="col-sm-9">
                            <select name="payment_twocheckout_api_use_default_style" id="payment_twocheckout_api_use_default_style" class="form-control">
                                <option value="yes" {{ payment_twocheckout_api_use_default_style == 'yes' ? 'selected':'' }}>{{ text_yes }}</option>
                                <option value="no" {{ payment_twocheckout_api_use_default_style == 'no' ? 'selected':'' }}>{{ text_no }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="payment_twocheckout_api_custom_style">
                            {{ entry_custom_style }}
                        </label>
                        <div class="col-sm-9">
                            {% if payment_twocheckout_api_custom_style %}
                                <textarea name="payment_twocheckout_api_custom_style" id="payment_twocheckout_api_custom_style" class="form-control"
                                          placeholder="{{ entry_custom_style }}" rows="20">{{ payment_twocheckout_api_custom_style }}</textarea>
                            {% else %}
                                <textarea name="payment_twocheckout_api_custom_style" id="payment_twocheckout_api_custom_style" class="form-control"
                                          placeholder="{{ entry_custom_style }}" rows="20">{
                    "margin": "0",
                    "fontFamily": "Helvetica, sans-serif",
                    "fontSize": "1rem",
                    "fontWeight": "400",
                    "lineHeight": "1.5",
                    "color": "#212529",
                    "textAlign": "left",
                    "backgroundColor": "#FFFFFF",
                    "*": {
                        "boxSizing": "border-box"
                    },
                    ".no-gutters": {
                        "marginRight": 0,
                        "marginLeft": 0
                    },
                    ".row": {
                        "display": "flex",
                        "flexWrap": "wrap"
                    },
                    ".col": {
                        "flexBasis": "0",
                        "flexGrow": "1",
                        "maxWidth": "100%",
                        "padding": "0",
                        "position": "relative",
                        "width": "100%"
                    },
                    "div": {
                        "display": "block"
                    },
                    ".field-container": {
                        "paddingBottom": "14px"
                    },
                    ".field-wrapper": {
                        "paddingRight": "25px"
                    },
                    ".input-wrapper": {
                        "position": "relative"
                    },
                    "label": {
                        "display": "inline-block",
                        "marginBottom": "9px",
                        "color": "#313131",
                        "fontSize": "14px",
                        "fontWeight": "300",
                        "lineHeight": "17px"
                    },
                    "input": {
                        "overflow": "visible",
                        "margin": 0,
                        "fontFamily": "inherit",
                        "display": "block",
                        "width": "100%",
                        "height": "42px",
                        "padding": "10px 12px",
                        "fontSize": "18px",
                        "fontWeight": "400",
                        "lineHeight": "22px",
                        "color": "#313131",
                        "backgroundColor": "#FFF",
                        "backgroundClip": "padding-box",
                        "border": "1px solid #CBCBCB",
                        "borderRadius": "3px",
                        "transition": "border-color .15s ease-in-out,box-shadow .15s ease-in-out",
                        "outline": 0
                    },
                    "input:focus": {
                        "border": "1px solid #5D5D5D",
                        "backgroundColor": "#FFFDF2"
                    },
                    ".is-error input": {
                        "border": "1px solid #D9534F"
                    },
                    ".is-error input:focus": {
                        "backgroundColor": "#D9534F0B"
                    },
                    ".is-valid input": {
                        "border": "1px solid #1BB43F"
                    },
                    ".is-valid input:focus": {
                        "backgroundColor": "#1BB43F0B"
                    },
                    ".validation-message": {
                        "color": "#D9534F",
                        "fontSize": "10px",
                        "fontStyle": "italic",
                        "marginTop": "6px",
                        "marginBottom": "-5px",
                        "display": "block",
                        "lineHeight": "1"
                    },
                    ".card-expiration-date": {
                        "paddingRight": ".5rem"
                    },
                    ".is-empty input": {
                        "color": "#EBEBEB"
                    },
                    ".lock-icon": {
                        "top": "calc(50% - 7px)",
                        "right": "10px"
                    },
                    ".valid-icon": {
                        "top": "calc(50% - 8px)",
                        "right": "-25px"
                    },
                    ".error-icon": {
                        "top": "calc(50% - 8px)",
                        "right": "-25px"
                    },
                    ".card-icon": {
                        "top": "calc(50% - 10px)",
                        "left": "10px",
                        "display": "none"
                    },
                    ".is-empty .card-icon": {
                        "display": "block"
                    },
                    ".is-focused .card-icon": {
                        "display": "none"
                    },
                    ".card-type-icon": {
                        "right": "30px",
                        "display": "block"
                    },
                    ".card-type-icon.visa": {
                        "top": "calc(50% - 14px)"
                    },
                    ".card-type-icon.mastercard": {
                        "top": "calc(50% - 14.5px)"
                    },
                    ".card-type-icon.amex": {
                        "top": "calc(50% - 14px)"
                    },
                    ".card-type-icon.discover": {
                        "top": "calc(50% - 14px)"
                    },
                    ".card-type-icon.jcb": {
                        "top": "calc(50% - 14px)"
                    },
                    ".card-type-icon.dankort": {
                        "top": "calc(50% - 14px)"
                    },
                    ".card-type-icon.cartebleue": {
                        "top": "calc(50% - 14px)"
                    },
                    ".card-type-icon.diners": {
                        "top": "calc(50% - 14px)"
                    },
                    ".card-type-icon.elo": {
                        "top": "calc(50% - 14px)"
                    }
                }</textarea>
                            {% endif %}
                            <small>
                                {{ help_custom_style }}
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label" for="payment_twocheckout_api_sort_order">{{ entry_sort_order }}</label>
                        <div class="col-sm-9">
                            <input type="number" name="payment_twocheckout_api_sort_order" value="{{ payment_twocheckout_api_sort_order ?? 1 }}"
                                   placeholder="{{ entry_sort_order }}" id="payment_twocheckout_api_sort_order" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
